pandas==2.3.0
einops==0.8.1
tqdm==4.67.1
wandb==0.20.1
loguru==0.7.3
scipy==1.15.3
smplx==0.1.28
pyrender==0.1.45
trimesh==4.6.11
pyvirtualdisplay==3.0
librosa==0.11.0
matplotlib==3.10.3
pyloudnorm==0.1.1
diffusers==0.33.1
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0